body{
	background: #B0C4DE;
}


.principal{
	
	background: #dac292;
	box-shadow: 20px 10px 5px black;

}   

.titulo.prinipal{
	text-align: center;
	font-size: 50px;
	background: #dac292;

}

.titulo-cor-azul{
	color: blue;
	text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;

}

#barbearia{
	box-shadow: 10px 10px 5px black;

}



#missao{
	font-size: 50px;
	font-style: italic;
	color: white


}

.beneficios{
	background: #ffef96;
}

.titulo003{
	font-style: italic;
	font-size: 70px;
	color: red





}

.listas{
	display: inline-block;
	vertical-align: top;
	font-size: 30px;
	font-style: italic;
	color: blue

}



.beneficios2{
	padding: px;
	width:50%

}



